body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(22, 20, 24);
    color: #eee;
    user-select: none;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .nft{
    user-select:none;
    max-width: 300px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
    hr{
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 0;
    }
    ins{
      text-decoration: none;
    }
    .main{
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 1rem;
      .tokenImage{
        border-radius: .5rem;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
      }
      .description{
        margin: .5rem 0;
        color: #a89ec9;
      }
      .tokenInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price{
          display: flex;
          align-items: center;
          color: #ee83e5;
          font-weight: 700;
          ins{
            margin-left: -.3rem;
            margin-right: .5rem;
          }
        }
        .duration{
          display: flex;
          align-items: center;
          color: #a89ec9;
          margin-right: .2rem;
          ins{
            margin: .5rem;
            margin-bottom: .4rem;
          }
        }
      }
      .creator{
        display: flex;
        align-items: center;
        margin-top: .2rem;
        margin-bottom: -.3rem;
        ins{
          color: #a89ec9;
          text-decoration: none;
        }
        .wrapper{
          display: flex;
          align-items: center;
          border: 1px solid #ffffff22;
          padding: .3rem;
          margin: 0;
          margin-right: .5rem;
          border-radius: 100%;
          box-shadow: inset 0 0 0 4px #000000aa;
          img{
            border-radius: 100%;
            border: 1px solid #ffffff22;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            margin: 0;
          }
        }
      }
    }
    ::before{
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: .7s all;
    }
    &:hover{
      border: 1px solid #ffffff44;
      box-shadow: 0 7px 50px 10px #000000aa;
      transform: scale(1.015);
      filter: brightness(1.3);
      ::before{
        filter: brightness(.5);
        top: -100%;
        left: 200%;
      }
    }
  }
  
  .bg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
      font-size: 20rem;
      filter: opacity(0.5);
    }
  }

  .grey-bg {  
    background-color: #F5F7FA;
}




body {
    font-family: Arial, sans-serif;
}

.calendar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
}

.weekdays div, .days div {
    width: calc(100% / 7);
    padding: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.days div {
    cursor: pointer;
}

.days div:hover {
    background-color: #f1f1f1;
}
.event {
    background-color: #ffcccb;
    color: #000;
}

.no-event {
    background-color: #f1f1f1;
    color: #000;
}

.chart {
    padding: 20px;
    /* Add styles for your chart here */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .weekdays div, .days div {
        padding: 5px 0;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        padding: 5px;
    }

    .calendar {
        padding: 10px;
    }

    .weekdays div, .days div {
        font-size: 12px;
    }

    .month {
        flex-direction: column;
    }
}


@media (min-width: 767px) { /*small*/
  .col-lg-2-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
}



.col-lg-2-4 {
    flex: 0 0 18.33%;
    max-width: 18.33%;
}

@media (min-width: 992px) { /* lg breakpoint */
    .col-lg-2-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 18.33333%;
      -ms-flex: 0 0 18.33333%;
      flex: 0 0 18.33333%;
      max-width: 18.33333%; /* 2.4 columns */
    }
}
@media (min-width: 1200px) { /* lg breakpoint */
  .col-lg-2-4 {
      flex: 0 0 18.33%;
      max-width: 18.33%; /* 2.4 columns */
  }
}
@media (min-width: 576px) {
  .col-lg-2-4 {
    width: 100%;
  }
}
