.main-content{
	width: 40%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}

@media screen and (max-width: 640px) {
	.main-content{width: 80%;}
	.login_form{
		border-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 60%;}
}
.row > h2{
	color:#3D85C6;
}
.login_form{
	background-color: #fff;
	border-radius:20px;
	border:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #3D85C6;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.Mybtn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#3D85C6;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #3D85C6;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.Mybtn:hover, .btn:focus{
	background-color: #3D85C6;
	color:#fff;
}

.row{
    justify-content: center;
}

